<p>
  <b>Type:</b>
  <%=h @charge.type_de_revenu %>
</p>

<p>
  <b>Valeur:</b>
  <%=h @charge.valeur %>
</p>

<%= link_to 'Edit', edit_foyer_charge_path(@foyer,@charge) %> |
<%= link_to 'Back', foyer_charges_path %>