<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Foyers: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'formtastic', 'formtastic_changes', 'test', 'scaffold', :cache => 'base' %>
  </head>

  <div id="container">
    <div id="top">
      <h1>Bras Ouverts</h1>
    </div>
    <div id="leftnav">
      <p>
        Here goes a menu for navigating the application
      </p>
    </div>
    <div id="content">
        <%= yield %>
    </div>
    <div id="footer">
      Systéme de distribution de colis alimentaires
    </div>
  </div>
</html>